*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root {
    --nav-link: #FB754C;
    --about: #FA786E;
    --logo: #FA5847;
    --try: #2778FA;
    --middle: #B3F1C0;
    --pk: #D5B3FE;
}
body {
    background-color: white;
    color: black;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
    display: block;
}
.navigation-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.navigation-container {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.navigation-logo {
    max-width: 300px;
    max-height: 80px;

}
.navigation-logo-img {
    padding-left: 20px;
    width: 90px;
    height: 30px;
}
.navigation-list-left, .navigation-items, .navigation-li-items {
    display: inline-block;
    border: none;
    padding: 4px 8px ;
    margin-top: 2px;
    list-style-type: none;
}
.navigation-li-items, .navigation-links {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.navigation-list-right {
    margin-left: auto;
}
.more {
    color: var(--nav-link);
}
.try {
    color: var(--try);
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    font-style: normal;
    /* font-variant: normal; */
    text-transform: none;
}
.sticky-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
}
.navigation-link {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.about {
    color: var(--about);
}
.navigation-header {
    display: block;
    border: none;
    margin: auto 300px;
}
.header {
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 80px;
}
.logo-name {
    color: var(--logo);
    font-size: 8rem;
    position: absolute;
    top: 30%;
    left: 20%;
}
.content-h1 {
    display: block;
    margin: 0px 0px 21px;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    text-align: start;
    letter-spacing: normal;
}
.content-link {
    text-decoration: none;
    color: var(--try);
}
.content-p {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: start;
    line-height: 30px;
    margin-bottom: 80px;
}
.grid-container-img-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    position: relative;
    place-items: center;
    grid-template-areas: 
    ". . grid1"
    ". grid2 grid1"
    ". . grid1";
    margin-bottom: 80px;
}
.grid-item-1 {
    background-color: #F9F1A7;
    width: 800px;
    height: 800px;
    grid-area: grid1;
}
.grid-item-2 {
    display: block;
    background-image: url("../images/guitar.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 600px;
    grid-area: grid2;
    z-index: 1;
    position: absolute;
}
.grid-item-3 {
    background-image: url("../images/sets.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 600px;
    height: 400px;
    position: absolute;
    z-index: 2;
    top: 24%;
    right: 30px;
}
.middle-content {
    margin: auto 300px;
}
.h1-middle {
    display: block;
    margin: 0px 0px 21px;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    text-align: start;
    letter-spacing: normal;
}
.middle-p {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: start;
    line-height: 30px;
    margin-bottom: 80px;
}
.video-c {
    margin-bottom: 80px;
}
.middle-img {
    display: grid;
    position: relative;
    /* gap: 1.2rem; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "grid1 . grid4"
    ". . grid4"
    "grid2 . grid4";
    margin-bottom: 80px;
}
.grid-middle1 {
    display: block;
    height: 800px;
    width: 800px;
    background-color: var(--middle);

}
.grid-middle2 {
    display: block;
    grid-area: grid1;
    background-image: url("../images/anton.jpg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    z-index: 3;
    height: 400px;
    width: 400px;
    top: 10%;
    left: 20%;
}
.grid-middle3 {
    display: block;
    grid-area: grid2;
    background-image: url("../images/studio.jpg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    z-index: 4;
    height: 400px;
    width: 400px;
    bottom: 0;
    left: 20%;
}
.grid-middle4 {
    display: block;
    grid-area: grid4;
    position: absolute;
    background-image: url("../images/headsets.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    width: 400px;
    z-index: 8;
    right: 80%;
    top: 10%;
}
.video-m {
    display: block;
    margin: auto 70px;
}
.pk-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    place-items: center;
    grid-template-areas: 
    " . . . pk2"
    "pk1 . . .pk2"
    ". . . pk2";
    position: relative;
    background-color: var(--pk);
    height: 800px;
    width: 800px;
    margin: auto 300px;
}
.pk-img-1 {
    display: block;
    position: absolute;
    background-image: url("../images/drumBeats.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 12;
    left: 0;
    transform: translateX(-70px);
    height: 400px;
    width: 50%;
}
.pk-img-2 {
    display: block;
    position: absolute;
    background-image: url("../images/anna.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    right: 0;
    transform: translateX(200px);
    height: 600px;
    width: 50%;
}
.top-m {
    margin-top: 80px;
}
.job-con {
    display: flex;
    width: 1200px;
    height: 400px;
    margin: auto 100px;
}
.job-img {
    display: block;
    background-image: url("../images/office.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 700px;
}
.job-h1-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B1C4FC;
    text-align: center;
    width: 50%;
}
.job-h1 {
    width: 40%;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
.job-link {
    color: #3379FA;
}
hr {
    margin-top: 80px;
    border: 1px solid #EFEFEF;
    margin-bottom: 40px;
}
.footer-con {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto 100px;
    width: 1200px;
}
.ft-logo {
    width: 200px;
    height: 140px;
}
.ft-sec-con {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}
.sec-con {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 80%;
}
.ft-items, .ft-list {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}
.ft-h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}
.ft-p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}
.input-ft {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
input[type=email] {
    padding: 8px;
    border: none;
    background-color: #EEEEEE;
    width: 70%;
}
.ft-btn {
    border: none;
    background-color: #3378FA;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 12px;
    width: 112px;
}
.ft-lg {
    display: flex;
}
.ft-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}
.ft-item-nv, .ft-list-nv {
    display: inline-block;
    padding-right: 12px;
    font-size: 12px;
    font-weight: 600;
    list-style-type: none;
}
.ft-im-nv-lg {
    margin-left: auto;
}
select {
    margin-right: 10px;
    width: 40%;
    border: none;
    background-color: #EEEEEE;
    padding: 10px;
}